In [35]:
import requests
import pandas as pd
from io import BytesIO
from urllib.error import HTTPError

url = "https://cdn.finra.org/trace/treasury-aggregates/daily/ts-daily-aggregates-2024-09-11.xlsx"

response = requests.get(url)
df = pd.read_excel(BytesIO(response.content),header=[3,4])
df = df.drop(columns=[('Total', 'VWAP')])
tips_index = df[df[('Category', 'Unnamed: 0_level_1')] == 'TIPS'].index[0]
df = df.loc[tips_index:].dropna(axis=0)
df = df[df[('Category', 'Unnamed: 0_level_1')] != 'Total'].reset_index(drop=True)
df

                    Category ATS & Interdealer           Dealer to Customer  \
          Unnamed: 0_level_1            Trades Par Value             Trades
0                       TIPS             886.0      16.5             1427.0
1                 <= 5 years             454.0      14.1              790.0
2                 On-the-run              66.0       1.3               94.0
3                Off-the-run             388.0      12.8              696.0
4  > 5 years and <= 10 years             255.0       2.1              397.0
5                 On-the-run             154.0       1.9              128.0
6                Off-the-run             101.0       0.2              269.0
7                 > 10 years             177.0       0.3              240.0
8                 On-the-run              52.0       0.2               45.0
9                Off-the-run             125.0       0.1              195.0

              Total
  Par Value  Trades Par Value
0      33.1  2313.0      49.6
1      28.2  1244.0      42.2
2       3.7   160.0       5.0
3      24.5  1084.0      37.2
4       4.1   652.0       6.2
5       2.6   282.0       4.5
6       1.5   370.0       1.7
7       0.9   417.0       1.1
8       0.3    97.0       0.5
9       0.5   320.0       0.6

                                             Category ATS & Interdealer  \
                                   Unnamed: 0_level_1            Trades
24                                               TIPS             886.0
25                                         <= 5 years             454.0
26                                         On-the-run              66.0
27                                        Off-the-run             388.0
28                          > 5 years and <= 10 years             255.0
29                                         On-the-run             154.0
30                                        Off-the-run             101.0
31                                         > 10 years             177.0
32                                         On-the-run              52.0
33                                        Off-the-run             125.0
34                                              Total          321908.0
35                                                NaN               NaN
36                                                NaN               NaN
37                                              Notes               NaN
38  Strips included in Nominal Coupons Off-the-run...               NaN

             Dealer to Customer               Total
   Par Value             Trades Par Value    Trades Par Value VWAP
24      16.5             1427.0      33.1    2313.0      49.6  NaN
25      14.1              790.0      28.2    1244.0      42.2  NaN
26       1.3               94.0       3.7     160.0       5.0  NaN
27      12.8              696.0      24.5    1084.0      37.2  NaN
28       2.1              397.0       4.1     652.0       6.2  NaN
29       1.9              128.0       2.6     282.0       4.5  NaN
30       0.2              269.0       1.5     370.0       1.7  NaN
31       0.3              240.0       0.9     417.0       1.1  NaN
32       0.2               45.0       0.3      97.0       0.5  NaN
33       0.1              195.0       0.5     320.0       0.6  NaN
34     653.1           111544.0     559.3  433452.0    1212.4  NaN
35       NaN                NaN       NaN       NaN       NaN  NaN
36       NaN                NaN       NaN       NaN       NaN  NaN
37       NaN                NaN       NaN       NaN       NaN  NaN
38       NaN                NaN       NaN       NaN       NaN  NaN